langchain-community
langchain-text-splitters
langchain-huggingface
chromadb
sentence-transformers
pypdf
pydantic
dynaconf
streamlit
fastapi
uvicorn[standard]
python-multipart
rank_bm25
kokoro 
soundfile
# "misaki[en]" install using pip install 